* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  box-shadow: 0 0 3px black;
  width: 100vw;
  height: 8vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo {
  margin-left: 2%;
  font-size: 1.5em;
  letter-spacing: 1.6px;
  font-weight: bolder;
  color: cornflowerblue;
}
.Signout {
  margin-right: 1.5%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
}
.dropdown {
  font-size: 1.5em;
  /* padding: 10px; */
}
.popup {
  /* border: 1px solid black; */
  width: 200px;
  height: 300px;
  position: absolute;
  right: 0;
  box-shadow: 0 0 2px black;
  margin-right: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list {
  font-size: 1.1em;

  padding: 5px 60px 5px 60px;
}
.list:hover {
  background-color: lightgray;
}
