.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}
.blogList {
  margin-top: 10px;
}
.listBlog {
  /* border: 1px dashed red; */
  /* box-shadow: 0 0 1px black; */
  margin-bottom: 10px;
  padding: 15px;
  width: 600px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  /* display: flex; */
}
.listBlog > .title {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bolder;
}
.listBlog > .description {
  margin-bottom: 35px;
}
.details {
  display: flex;
  justify-content: space-around;
}
.aime {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.ne-aime-pas {
  position: absolute;
  bottom: 5px;
  left: 50px;
}
.views-blog {
  position: absolute;
  bottom: 5px;
  left: 65%;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
}
.views-blog span {
  font-weight: bolder;
}
.comment-blog {
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
  background-color: rgb(228, 222, 222);
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bolder;
}
